<div class="container content">
 
 <div class="page-header">
   <div class="container">
     <h1>Ruteo Simple</h1>
     <div class="navlinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/producto']">Producto</a>
      </div>
    </div>
  </div>
    
<div class="container-content">
  <div class="row">
    <h1>
      {{  title  }}
    </h1>
  </div>
  <!--<app-genero-lista></app-genero-lista>-->
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha: {{ time | async }}