<div class="container content">
	<div class="row">
			<div class="col-md-6 offset-md-3">
				<span class="anchor" id="formLogin"></span>
				
				<!-- form card login with validation feedback -->
				<div class="card card-outline-secondary">
					<div class="card-header">
						<h3 class="mb-0">Lista de Productos</h3>
					</div>
					<div class="card-body">
						<app-form-genero-producto (onItemAdded)="agregado($event)">
						</app-form-genero-producto>
					</div>
				</div>
			</div>
	</div>
	<hr class="mb-5">
	
	<div class="row row-flex">
		<app-genero-producto *ngFor="let d of productosApiCliente.getAll(); let i=index" 
		[producto]="d"
		[idx]="i+1"
		(onclicked)='elegido(d)'
		></app-genero-producto>
	</div>

	<hr class="mb-5">
	
	<div class="row row-flex">
		<h5>Actividad</h5>
		<ul>
			<li *ngFor = "let u of updates;">{{u}}</li>
		</ul>
	</div>
</div>
